@import url(https://fonts.googleapis.com/css?family=Anton);


body {
    
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: #232323;;
}

.service-area {
    text-align: center !important;
}

.header-text h2 {
    font-family: Anton !important;
}

 



@media only screen and (max-width: 48em) {

   .logo {
        position: relative;
        top: -35px !important;
   }

    .logo img {
        height: 60px !important;
        width: 60px !important;
   }

    .logo a {
        color: #fff;
        text-transform: uppercase;
        font-family: Anton;
        font-size: 1.5em;
    }

    .logo span {
        position: relative;
        left: 65%;
        top: -40px;
    }


    .icon-bar {
        background-color: #fff !important;
    }

    .navbar-nav  {
        border: none !important;
    }


    .navbar-toggle {
        position: absolute;
        top: 19% !important;
        margin-left: 10% !important;
        border-radius: 0;
        border: none;
        background-color: transparent !important;
    }

    .navbar-collapse {
        overflow: hidden;
        height: 300px;
        border: none !important;
        background-color: transparent !important;
    }

    .navbar-nav li {
        left: 25% !important;
        top: 20px !important;
    }

    .footer-logo {
        left: 42% !important;
    }

    .welcome-image-area {
         background: url(../img/bg/ctrlpk.jpg) center;
    }

    .header-text {
        font-size: 5em !important;
    }

    .history-area {
        background: url(../img/bg/bethesdactrlpk.jpg) center;
    }
    .available-work-area {
        background: url(../img/bg/GrandCentral.jpg) center;
    }


    .mainmenu {
        margin-left: 80% !important;
        background-color: #000;

    }


}



/* Tablet Layout: 768px. */

@media only screen and (min-width: 767px) and (max-width: 1280px) {
    

     .logo {
        position: relative;
        top: -35px !important;
   }

    .logo img {
        height: 75px !important;
        width: 75px !important;
   }

    .logo a {
        color: #fff;
        text-transform: uppercase;
        font-family: Anton;
        font-size: 1.5em;
    }

    .logo span {
        position: relative;
        left: 65%;
        top: -50px;
        font-size: 0.9em !important;
    }


    /*.navbar-nav li {
        left: -25% !important;
        top: -33px !important;
    }
   */

     .navbar-nav li {
        left: -50% !important;
        top: 30px !important;
        text-align: center;
    }

   
    .single-project-done {
        text-align: center;
    }
    .about-image img {
        margin-top: 30px;
    }
    .single-testimonial p {
        padding: 0 50px;
    }
    .single-contact-details i {
        margin-bottom: 20px;
    }
    .single-project-complete {
        margin-bottom: 30px;
    }
    .single-service,
    .single-blog {
        margin-bottom: 30px;
    }
    #map {
        margin-top: 20px;
    }

    .footer-logo {
        left: 45%;
    }

    #blog-link {
        
    position: relative;
    left: 27% !important;

   }


   a#resume-button {
    
    position: relative;
    left: 25%;
    
    }

}

@media only screen and (device-width : 375px) and (device-height : 667px) and (-webkit-device-pixel-ratio : 3) { 

.navbar-nav li {
        left: -50% !important;
        top: 30px !important;
        text-align: center;
    }

}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {



    .welcome-area, .about-me-area, .history-area, .skillset, .project-area, .available-work-area, .contact-me-area {
        width: auto;
    }

    .site-header .navbar-collapse {
        opacity: 1;
        visibility: visible;
    }

    #brand {
        margin-top: -40%;
        left: 2%;
    }

    #name {
        font-size: 1.5em !important;
    }

    #subtitle {
        font-size: 0.7em;
        width: 100%;
        top: -20px;
       
    }

/* 
    .logo img {
        height: 28% !important;
        width: 28% !important;
   } */

   .logo a {
        font-size: 0.9em;
   }

   .logo p {
        left: 20%;
        top: -40px;

   }

     .header-text h2  {
        font-size:  0.5em !important;
    }

    .header-text2 h2 {
        font-size:  4em !important;

    }

    .header-text2 .line2 {
        position: relative;
        top: 20px;
    }

    .header-text3 h2 {
        font-size: 3em !important;
    }

    .header-text3 .line2 {
        position: relative;
        top: 20px;
    }



    .navbar-toggle .icon-bar {
        background: #fff;

    }
    
     .navbar-toggle {
        position: relative;
        top: 33px !important;
        margin-left: 70% !important;
        border-radius: 0;
        border: none !important;
        background-color: transparent !important;
    }

    .navbar {
        min-height: 0px;
    }

    .navbar-collapse {
        overflow: hidden;
        height: 300px;
        border: none !important;
        background-color: transparent !important;
    }



       .navbar-nav li {
        left: -50% !important;
        top: 30px !important;
        text-align: center;
    }
                    

     .mainmenu {
        margin-left: 0% !important;
        background-color: #000;
    }

    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .menu-bg .navbar-collapse {
        background: rgba(0, 0, 0, .9);
    }
    .welcome-image-area,
    .welcome-video-area {
        padding-top: 120px;
    }
    .welcome-image-area h2,
    .single-slide-item h2,
    .welcome-video-area h2 {
        font-size: 40px;
    }
    .section-title h2 {
        font-size: 30px;
    }
    .single-project-complete h2 {
    font-size: 40px;
}

    .service-area {
        text-align: center;

    }

    
    .about-text h2 {
        font-size: 22px;
    }

    .available-text h3 {
        font-size: 2em;
    }

    .available-work-area {
        background: none;
        background-color: #212121 !important;
        height: 400px !important;
    }
    .single-testimonial p {
        padding: 0 10px;
    }
    .single-project-done {
        text-align: center;
    }
    .footer-area p,
    .actions,
    .footer-social-link {
        text-align: center;
    }

    .footer-logo {
        left: 35% !important;
    }
    .header-text p {
        font-size: 16px;
        padding: 0;
        line-height: 28px;
    }
    .header-text .home-arrow-down {
        bottom: -90px;
    }
    .about-text {
        padding-top: 0px;
        font-size: 0.9em;
    }
    .about-text h3 {
        margin-bottom: 20px;
    }
    .single-project-complete {
        margin-bottom: 50px;
    }
    .single-contact-details i {
        margin-bottom: 20px;
    }
    .single-service,
    .single-blog {
        margin-bottom: 30px;
    }
    #map {
        margin-top: 20px;
    }
   


  #blog-link {
        
    position: relative;
    left: 27% !important;

   }


   a#resume-button {
    
    position: relative;
    left: 25%;
    
    }


 input.wpcf7-form-control.wpcf7-submit {
        position: relative;
        left: 4% !important;
    }


/* .work figure.effect-bubba img {
    height: 100% !important;
    width: 100% !important;
}

img.img-fluid {
    height: 100px !important;
    width: 100% !important;
}

figure.effect-bubba img {
    height: 100px !important;
    width: 100% !important;
}
 */
.work .grid figure {
    height: 200px !important;
}

#single-post-page .footer-logo {
    position: relative;
    left: 40% !important;
}

}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {

     .navbar-toggle {
        position: relative;
        top: 10px !important;
        margin-left: 30% !important;
        border-radius: 0;
        border: none;
        background-color: transparent !important;
    }



    .navbar-nav li {
        left: -40% !important;
        top: 20px !important;
        display: inline-block !important;
    }

    .navbar-nav li a {
        padding: 5px !important;

    }

    .navbar-collapse {
       height: auto !important;
    }



    .header-text {
        margin-top: -15% !important;
    }

    .mainmenu {
        margin-left: 70% !important;
    }

    .mainmenu .navbar-nav li a {
        font-size: 0.7em;
        padding: 0;
        margin-left: 30% !important;
    }


    #brand {
        margin-top: -15%;
        left: -3%;
    }

    #name {
        font-size: 1.5em !important;
    }

    #subtitle {
        font-size: 0.7em;
        left: 23%;
       
    }


  /*   .logo img {
        height: 15% !important;
        width: 15% !important;
   } */

     .logo p {
        left: 10%;
        top: -40px;

   }

    .footer-logo {
        left: 42% !important;
    }

    #single-post-page .footer-logo {
    position: relative;
    left: 45% !important;
}

    #blog-link {
        
    position: relative;
    left: 35% !important;

   }


   a#resume-button {
    
    position: relative;
    left: 35%;
    
    }


 input.wpcf7-form-control.wpcf7-submit {
        position: relative;
        left: 4% !important;
    }



}


/* Medium Layout: 1280px. */



@media only screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: portrait)  {


     
    
   .footer-logo {
    left: 43% !important;
   }
  


}



@media only screen and (max-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) 
  and (orientation: landscape)  {



    .logo p {
        left: 40%;
    }


    .footer-logo {
        left: 45%;
    }
  


}






